SECRET_KEY=your_secret_key_here
DEBUG=True

#Email settings
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_PORT = 587
EMAIL_USE_TLS = True
EMAIL_HOST_USER = 'seu email aqui'
EMAIL_HOST_PASSWORD = 'senha do app gmail'
DEFAULT_FROM_EMAIL = 'Webmaster <seu_email@gmail.com>'
